<%
=begin%>
 <!DOCTYPE html>
<html>
  <head>
    <title>ChatApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>

<!DOCTYPE html>
<html>
  <head>
    <!-- ... other head elements ... -->
  </head>
  <body>
    <nav>
      <!-- ... other nav links ... -->
      <% if user_signed_in? %>
        <%= link_to 'My Profile', profile_path %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to 'Login', new_user_session_path %>
        <%= link_to 'Register', new_user_registration_path %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html> 
<%
=end%>

<!DOCTYPE html>
<html>
<head>
  <title>ChatApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <!-- ... other head elements ... -->
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <nav>
    <!-- ... other nav links ... -->
    <% if user_signed_in? %>
      <%= link_to 'My Profile', profile_path %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Register', new_user_registration_path %>
    <% end %>
  </nav>
  <%= yield %>
</body>
</html>
